#next {
    width: 80%;
    height: 44px;
    text-align: center;
    line-height: 35px;
    background: #7cd296;
    color: white;
    font-size: 18px;
     margin-left: 0; 
    margin-top: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url(../doc/ie-css3.htc);
}